
.navbar {
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 5px lightblue;
    background-color: coral;
    font-weight: bold;
}

.nav--title {
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: auto;
    margin-left: 20px;
}

.nav--info {
    color: bisque;
    margin: 20px;
}

.movietile {
    display: flex;
    margin-left: 200px;
}

.tile {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 50px;
}
.tile--poster {
    width: 250px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
}

.tile--title {
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}